@import "tailwindcss";

@theme {
  --color-primary: #ad7555;
  --color-primary-hover: #8c583c;
  --color-secondary: #f4b896;
  --color-accent: #f97316;
}

body {
  font-size: 1.05rem;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
